@font-face {
    font-family: 'Fall in love';
    src: url("./police/fall_in_love-webfont.woff2") format("woff2"),
        url("./police/fall_in_love-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./police/roboto-regular-webfont.woff2") format("woff2"),
        url("./police/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

h1 a,
h2,
h3 {
    font-family: 'Fall in love';
}

h1 a {
    color: white;
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.container {
    margin: 0 20px;
    max-width: 1320px;
}

.narrow {
    margin: 0 auto;
    max-width: 870px;
}

/* === Header === */

header {
    background-image: url("img/fond-top-small.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
}

header #headerContent #upperHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #headerContent #upperHeader #upperleft {
    display: flex;
    align-items: center;
    gap: 15px;
}

header #headerContent #upperHeader #upperleft #searchPhone {
    font-size: 2.3rem;
    color: white;
}

header #headerContent #upperHeader #upperleft #searchbar input {
    border: none;
    border-radius: 15px;
    width: 240px;
    padding: 3px 5px;
    background-color: #d1c7be;
    font-weight: bold;
}

header #headerContent #upperHeader #upperleft #searchbar button {
    padding: 3px 6px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #d1c7be;
}

header #headerContent #upperHeader #upperleft #siteTitle,
header #headerContent #upperHeader #upperleft #searchbar {
    display: none;
}

header #headerContent #upperHeader #upperright #iconnav .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #d59299;
    border-radius: 0 0 0 15px;
    width: 20%;
    text-align: center;
    transition: 0.3s;
    right: -100%;
    top: 84px;
    gap: 10px;
    padding: 5px 0;
    font-size: 3rem;
}

header #headerContent #upperHeader #upperright #iconnav .nav-menu.active {
    right: 0;
}

header #headerContent #upperHeader #upperright #iconnav .nav-menu li a {
    color: white;
    font-size: 1.8rem;
}

header #headerContent #upperHeader #upperright .hamburger {
    cursor: pointer;
}

header #headerContent #upperHeader #upperright .hamburger .bar {
    display: block;
    width: 40px;
    height: 6px;
    border-radius: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

header #headerContent #upperHeader #upperright .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

header #headerContent #upperHeader #upperright .hamburger.active .bar:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
}

header #headerContent #upperHeader #upperright .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
}

header #headerContent #logo {
    width: 100%;
    text-align: center;
}

header #headerContent #logo img {
    width: 170px;
    height: 170px;
}

header #headerContent #lowerHeader {
    text-align: center;
    display: none;
}

header #headerContent #lowerHeader #mainNav ul {
    display: flex;
    justify-content: center;
    gap: 35px;
}

header #headerContent #lowerHeader #mainNav ul li a {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

/* === Contenu index === */

#mainIndex {
    margin-bottom: 300px;
}

.hiddenSmall {
    display: none;
}

section.narrow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

section.narrow h2 {
    width: 100%;
    margin-bottom: 10px;
}

section.narrow .indexContent {
    margin: 0 auto 10px;
    color: black;
    width: 45%;
    background-color: #F9F3E4;
    border: 1px solid #C0AC7A;
}

section.narrow .indexContent .indexContentArticle .indexContentImg {
    margin-bottom: 10px;
    width: 100%;
}

section.narrow .indexContent .indexContentArticle .indexContentImg img {
    width: 100%;
}

section.narrow .indexContent .indexContentArticle p {
    text-align: center;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 0.8rem;
}

section.narrow .indexContent .indexContentArticle p.articleTitle {
    text-transform: uppercase;
    font-size: 0.9rem;
}

section.narrow .indexContent .indexContentArticle p.articleGenre,
#artists .artistCard .artistAlbum {
    color: #939393;
}

section.narrow .indexContent .indexContentArticle p:last-child {
    margin-bottom: 10px;
}

/* === Artistes === */

#artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#artists h2,
#artists #subtitle {
    width: 100%;
    text-align: center;
}

#artists #subtitle {
    margin-bottom: 30px;
}

#artists .artistLink {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
    width: 40%;
}

#artists .artistLink .artistCard .artistCardImg {
    margin-bottom: 5px;
    width: 100%;
}

#artists .artistLink .artistCard .artistCardImg img {
    width: 100%;
    border-radius: 50%;
}

/* === Page === */

#route {
    margin-bottom: 25px;
}

#route a {
    color: black;
}

#pageTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

#greyblock {
    border: 2px solid #D9D4D0;
    width: 100%;
}

#greyblock #greyblockTitle {
    color: white;
    background-color: #D9D4D0;
    text-align: center;
    font-family: 'Roboto';
    padding: 10px;
    font-size: 1.6rem;
}

#greyblock nav {
    margin: 15px;
}

#greyblock ul li a {
    color: black;
}

#route .outline,
#greyblock .outline {
    color: #d59299;
}

#categoryblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid #D9D4D0;
    padding: 15px 10px;
    width: 100%;
}

#categoryblock .cat {
    width: 100%;
    margin-bottom: 40px;
}

#categoryblock #scroll {
    display: flex;
}

/* === Footer === */

footer {
    background-image: url("img/fond-bottom.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    position: relative;
}

footer #footerContent {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    margin-top: 170px;
}

footer #footerContent #footerTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer #footerContent #footerTitle h3 {
    text-align: center;
    color: white;
    width: 30%;
    font-size: 1.5rem;
}

footer #footerContent #footerTitle hr {
    border: 1px solid white;
    margin: 0;
    width: 30%;
}

footer #footerBar {
    margin: 20px 20% 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #F2DCDF;
    padding: 35px 10px;
}

footer #footerBar form {
    margin-bottom: 10px;
}

footer #footerBar form label {
    font-size: 0.9rem;
    width: 100%;
    font-weight: bold;
}

footer #footerBar form input {
    width: 220px;
    padding: 2px 4px;
    background-color: #F2DCDF;
    border: 1px solid #d59299;
    border-radius: 3px;
}

footer #footerBar form button {
    cursor: pointer;
    padding: 2px 4px;
    background-color: #9D6D72;
    color: white;
    border: none;
    border-radius: 3px;
}

footer #footerBar #socials ul {
    display: flex;
    gap: 25px;
}

footer #footerBar #socials ul li a {
    font-size: 2.8rem;
    color: #d59299;
}

footer #services {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

footer #services a img {
    filter: brightness(100);
}

footer #footerContent .copyright hr {
    height: 2px;
    width: 90%;
    color: white;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto 5px;
}

footer  #footerContent .copyright p {
    margin-bottom: 0.2em;
    color: white;
    font-size: 0.9rem;
    text-align: center;
}

footer  #footerContent .copyright a {
    color: white
}

@media(min-width: 768px) {
    h2 {
        text-align: left;
    }

    header {
        background-image: url("img/fond-top.jpg");
        min-height: 720px;
    }

    header #headerContent #upperHeader #upperleft #searchPhone {
        display: none;
    }

    header #headerContent #upperHeader #upperright #iconnav .nav-menu {
        background-color: transparent;
        position: static;
        display: flex;
        flex-direction: row;
        width: auto;
        text-align: left;
        left: auto;
        top: auto;
        gap: 25px;
    }

    header #headerContent #upperHeader #upperleft #siteTitle,
    header #headerContent #upperHeader #upperleft #searchbar {
        display: block;
    }

    header #headerContent #upperHeader #upperright .hamburger {
        display: none;
    }

    header #headerContent #logo img {
        height: 200px;
        width: 200px;
        margin: 5px 0;
    }

    header #headerContent #lowerHeader {
        display: block;
    }

    #indexMain {
        margin-top: -370px;
    }

    .hiddenSmall {
        display: block;
    }

    section.narrow {
        justify-content: space-between;
    }

    #bigwhite {
        color: white;
    }

    section.narrow .indexContent {
        width: 24%;
    }

    #artists .artistLink {
        width: 10%;
    }

    #greyblock {
        width: 24%;
    }

    #category {
        width: 72%;
    }

    footer #footerContent #footerTitle h3 {
        font-size: 2rem;
    }
}